*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
app/libs/
repository/libs/
repository/src/androidTest/
repository/src/main/res/drawable/
